.navigation {
    list-style: none;
}

.navigation__link {
    @include font (1.2rem, 1.4rem, 700);
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s ease;
    @media (hover: hover) {
        &:hover {
            color: #f06c64;
        }
    }
}

.navigation_active > .navigation__link {
    color: #f06c64;
    text-decoration: underline;
}