@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('./assets/Lato-Light.ttf');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 00;
    font-display: swap;
    src: url('./assets/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./assets/Lato-Bold.ttf')
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('./assets/Lato-Black.ttf')
}