* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lato";
    background-color: aquamarine;
    min-width: 1020px;
    margin: 0 auto;
}

header {
    height: 49px;
    padding: 40px 30px 0 40px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

div.logo {
    font-family: 'Lato';
    color: #ffffff;
    display: inline-block;
    font-size: 25px;
    line-height: 6px;
}

div.logo > span {
    color: #f06c64;
}

nav.navbar {
    display: inline-block;
    width: 380px;
    font-family: 'Lato';
    font-size: 12px;
    float: right;
    padding-top: 1px;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
}

.navbar a:hover {
    color: #f06c64;
}

.navbar span.nav_points {
    width: 24px;
    color: #494e62;
    text-align: center;
    display: inline-block;
}

div.slider {
    height: 585px;
    background-color: #f06c64;
    border-bottom: 15px solid #ea676b;
    padding: 0 42px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

div.slider div.arrows {
    z-index: 50;
    cursor: pointer;
    height: 27px;
    width: 20px;
    position: absolute;
}

div.slider div.arrow_left {
    background: url('./assets/arrow_left.png') no-repeat;
    top: 281px;
    left: 42px;
}

div.slider div.arrow_right {
    background: url('./assets/arrow_right.png') no-repeat;
    top: 281px;
}

div.slider div.apple {
    width: 899px;
}

div.content {
    height: 494px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}