* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lato", Arial, sans-serif;;
    background-color: aquamarine;
    min-width: 1020px;
    margin: 0 auto;
}

div.wrapper {
    width: 1020px;
    margin: 0 auto;
}

header {
    height: 50px;
    padding: 39px 30px 0 41px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

div.logo {
    font-family: 'Lato', Arial, sans-serif;;
    color: #ffffff;
    display: inline-block;
    font-size: 3ex;
    line-height: 6px;
}

div.logo > span {
    color: #f06c64;
}

nav.navbar {
    display: inline-block;
    width: 380px;
    font-family: 'Lato', Arial, sans-serif;;
    font-size: 12px;
    float: right;
    padding-top: 3px;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
}

.navbar a:hover {
    color: #f06c64;
}

.navbar span.nav_points {
    width: 23px;
    color: #494e62;
    text-align: center;
    display: inline-block;
}

main {
    background-color: #f2f2f2;
}

div.slider {
    height: 585px;
    background-color: #f06c64;
    border-bottom: 15px solid #ea676b;
    padding: 0 42px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

div.slider div.arrows {
    z-index: 50;
    cursor: pointer;
    height: 27px;
    width: 20px;
    position: absolute;
}

div.slider div.arrow_left {
    background: url('./assets/img/arrow_left.png') no-repeat;
    top: 282px;
    left: 1px;
}

div.slider div.arrow_right {
    background: url('./assets/img/arrow_right.png') no-repeat;
    top: 282px;
    right: 36px;
}

div.slider div.apple {
    width: 900px;
}

div.content {
    height: 494px;
    width: 940px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    margin: 0 auto;
    padding-top: 63px;
    color: #767e9e;
}

div.content h1 {
    color: #666d89;
    font-weight: 900;
    font-size: 3.7ex;
    letter-spacing: 0.003em;
    line-height: 35px;
}

div.content p {
    margin-top: 22px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
}

div.content > div.container {
    display: grid;
    grid-template-columns: 70px 249px 70px 250px 70px 240px;
    grid-template-rows: 123px;
    margin-top: 45px;
}

div.content > div.container > div.items {
    justify-self: left;
}

div.content > div.container > div.item-text {
    padding-left: 10px;
}

div.content > div.container > div.item-text strong {
    color: #666d89;
    font-weight: 900;
    font-size: 2.2ex;
    letter-spacing: 0.003em;
    line-height: 15px;
}

div.content > div.container > div.item-text p {
    color: #767e9e;
    font-size: 0.8em;
    margin-top: 8px;
    line-height: 22px;
    font-weight: 400;
}