%_phone_display {
    cursor: pointer;
    border-radius: 30px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    @include media-mobile {
        border-radius: 15px;
    }
}

.center {
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    transition: all ease 1.5s;
}

.slider {
    position: relative;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vw * 0.58);
    max-height: 594px;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.slider .arrows {
    z-index: 1;
    cursor: pointer;
    height: 27px;
    width: 20px;
    top: 283px;
    border: none;
    opacity: 0.5;
}

.slider .arrows:hover {
    opacity: 1;
}

.slider .arrow_left {
    background: url('./assets/img/arrow_left.png') no-repeat;
}

.slider .arrow_right {
    background: url('./assets/img/arrow_right.png') no-repeat;
}

.slider .apple {
    display: inline-block;
    position: relative;
    width: 95%;
    height: 100%;
    overflow: hidden;
}

.phone_container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    height: 100%;
}
  
.vert {
    background: url("./assets/img/phone-vertical.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
}

.vert .phone-disp {
    @extend %_phone_display;
    padding: 27.2% 5.8% 24.4% 5.7%;
    margin-bottom: 24px;
    width: 90%;
}

.hor {
    background: url("./assets/img/phone-horizontal.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 60%;
    height: 40%;
}

.hor .phone-disp {
    @extend %_phone_display;
    padding: 2.9% 13.4% 2.8% 12.3%;
    width: 94.7%;
    margin-bottom: 24px;
}

.vert .phone-disp-off, 
.hor .phone-disp-off {
    opacity: 0;
}

.slide_single {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transition: left .5s ease-in-out;
}

.slide_2 {
    text-align: center;
    left: 830px;
}

.slide_2 img {
    padding: 5.3% 0 6.4%;
    height: 100%;
}

.bgBlue {
    background-color: #648BF0;
    border-bottom: 6px solid #649BF0;
}